aioflask==0.4.0
aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
bidict==0.22.1
blinker==1.6.2
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
contourpy==1.2.0
coverage==7.2.7
cycler==0.12.1
exceptiongroup==1.1.2
fancycompleter==0.9.1
filelock==3.13.3
Flask==2.3.2
Flask-SQLAlchemy==3.1.1
fonttools==4.50.0
frozenlist==1.4.0
fsspec==2024.3.1
greenlet==2.0.2
greenletio==0.10.1
h11==0.14.0
idna==3.4
iniconfig==2.0.0
iso8601==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
keyboard==0.13.5
kiwisolver==1.4.5
MarkupSafe==2.1.2
matplotlib==3.8.3
mpmath==1.3.0
multidict==6.0.4
networkx==3.2.1
nulltype==2.3.1
numpy==1.26.4
packaging==23.1
pdbpp==0.10.3
Pillow==10.0.0
plaid-python==9.1.0
pluggy==1.2.0
pydicom==2.4.4
Pygments==2.15.1
pyparsing==3.1.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pyreadline==2.1
pyrepl==0.9.0
pytest==7.4.0
pytest-cov==4.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pywin32==306
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.29
sympy==1.12
tomli==2.0.1
torch==2.2.1
twitchio==2.6.0
typing_extensions==4.10.0
urllib3==1.26.14
uvicorn==0.22.0
Werkzeug==2.3.4
wmctrl==0.4
yarl==1.9.2
